{% extends 'base.html' %} 
{% load static %}
{% block titulo_principal %} CRUD: Select * {% endblock %}

{% block content %}
<br>
<div>
    <h1 class="letras hidden fade-in-down">Mi perfil</h1>
</div>
<br>
{% if object_list %}
{% for user in object_list %}
<div class="detalleUsuario hidden fade-in-down">
    <p class="letras">Nombre usuario: {{ user.username }}</p>
    <p class="letras">Nombre: {{ user.first_name }}</p>
    <p class="letras">Apellido: {{ user.last_name }}</p> 
    <p class="letras">Rut: {{ user.rut }}</p>
    <p class="letras">Digito verificador: {{ user.dv }}</p>
    <p class="letras">Edad: {{ user.edad }}</p>
    <p class="letras">Direccion: {{ user.direccion }}</p>
    <p class="letras">Telefono: {{ user.telefono }}</p> 
    <p class="letras">Rol en el sistema: {{ user.tipo_usuario}}</p>                 
    
        <a href="{% url 'login' %}">Volver</a>
    
</div>

{% endfor %}

{% else %}
<h1 class="letras">No hay registros de user</h1>
{% endif %}
{% endblock content %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}
{% endblock javascript %}
