{% extends 'base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<br>
<div class="blue-background hidden fade-in-down">
<div id="registro" class="container ">
    <h1 class="display">Inicia sesión</h1><br>
   
    <form method="POST" id="formulario">        
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username">Ingresa tu correo:</label><br>
            <input name="username" class="form-control" type="text" placeholder="Ingrese su email aqui..."/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label><br>
            <input name="password" class="form-control" type="password" placeholder="Ingrese su clave de acceso aqui..."/>
            <div class="bg-danger mt-1">{{ form.errors.password }}</div>
        </div>


        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="bg-danger mt-1 p-2" style="width:100px; height">Login incorrecto!</div>
        </div>  
        {% endif %}
        
        {{form.non_field_errors}}

        <div class="form-group">
            <input class="btn" type="submit" value="Enviar"/>
        </div>
        
    </form>
    <div>
    
      <a class="link" href="{% url 'enviar_c' %}">Si no recuerda su clave, haga clic aquí</a>
    </div>
    <div>
      <a class="link" href="{% url 'home' %}">Volver</a>
    </div>
</div>
   
  
</div>



{{block.super}}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}

{% endblock %}
