{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="blue-background">
    
    <h1 class="titulo">Agregar USUARIO</h1>
    <div class="contenido">
        <p1>Ingrese sus datos, en caso de tener licencia no adjunte licencia en el campo especificado"</p1>
    </div>
    
    <div class="content container">
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">GRABAR</button>
        </form>
        <a href="{% url 'home' %}">Volver</a>
    </div>
</div>

{% endblock %}
