{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <h1>Agregar USUARIO</h1>
    
    <div class="content container">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">GRABAR</button>
    </form>
    </div>
    <footer>
        <div id="navbar" class="video2">
            <div class="video">
            <p class="letras2">Sistema de reciclaje sin fines de lucro</p>
            </div>
            <img  src="{% static 'images/logo_4.png' %}" alt="logo" style="width: 60px; height: 60px;">
        </div>
        
    </footer>

{% endblock %}

