body {
  background-image: url("../images/planeta_limpio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Otros estilos opcionales */
  background-position: center;
  /*background-color: #f1f1f1;  /* Si deseas un color de fondo de respaldo */
}
.blue-background {
  background-color: rgba(0, 191, 255, 0.5); /* Azul claro con transparencia */
  display: inline-block;
  margin: 10mm; /* Margen de 10 milímetros */
  
}
.margen{
  background-color: rgba(30, 8, 87, 0.5); /* Azul claro con transparencia */
  display: inline-block;
  margin: 10mm; /* Margen de 10 milímetros */
}
.titulo{
  text-align: center;
}
.contenido{
  text-align: center;
}
.display{
  text-align: center;
}
.titulo_pass{
  text-align: center;
}
.letras {
  color: white;
 
}

.cabezera {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px; /* Añade un relleno si lo deseas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  z-index: 1000; /* Asegura que la cabecera esté por encima de otros elementos */
  transition: position 0.3s ease; /* Animación suave del cambio de posición */
}

/* Ajusta este valor según la altura de tu cabecera */
body.fixed-header {
  padding-top: 80px;
}
/* Opcional: Añade un efecto de sombra o borde para resaltar la cabecera fija */



#navbar{
background-color: rgba(135, 239, 195, 0.5);
}
.link{
color:black
}
#t {
  text-align: center;
}
#i {
  display: flex;
  align-items: center; /* Centrar verticalmente la imagen */
  width: 60px;
  height: 60px;
  margin: 0 auto; /* Alinear la imagen horizontalmente al centro */
}
.video{
  display: flex;
  align-items: center; /* Centrar verticalmente la imagen */
  margin: 0 auto; /* Alinear la imagen horizontalmente al centro */
}
#t_v{
  text-align: center;
}
.video2 {
  display: flex;
  align-items: center; /* Centrar verticalmente la imagen */
  justify-content: flex-end; /* Alinear el contenido a la derecha */
  margin: 0 auto; /* Alinear el contenido horizontalmente al centro */
}

