body {
    background-image: url("../images/planeta_limpio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Otros estilos opcionales */
    background-position: center;
    /*background-color: #f1f1f1;  /* Si deseas un color de fondo de respaldo */
  }
  .blue-background {
    background-color: rgba(0, 191, 255, 0.5); /* Celeste con transparencia */
    display: inline-block;
  }
  .titulo{
    text-align: center;
  }
  .contenido{
    text-align: center;
  }
  .display{
    text-align: center;
  }
  .titulo_pass{
    text-align: center;
  }
  .letras {
    color: white;
  }
 
  .cabezera {
    background-color: rgba(135, 239, 195, 0.5);
}
#navbar{
  background-color: rgba(135, 239, 195, 0.5);
}
.link{
  color:black
}