body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .t {
    margin-bottom: 20px;
  }
  
  .letras {
    text-align: center;
  }