{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="titulo_presentacion fade-in-down">
    <div class="blue-background">
<h1 class="letras">Concluir orden</h1>

<form method="POST" action="{% url 'orden_borrar' orden.id_orden %}">
    {% csrf_token %}
    <p class="letras">¿Estás seguro de que desea concluir esta orden?</p>
    <p class="letras">ID de orden: {{ orden.id_orden }}</p>
    <input type="hidden" name="id_orden" value="{{ orden.id_orden }}">
    <button type="submit">Borrar</button>
</form>
<a href="{% url 'home' %}">Volver</a>
</div>
</div>


{% endblock %}