{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <div id="containerHome"class="content container">
        <h1 class="letras">Gestión de usuario</h1>
        <p class="letras">Usted a eliminado con éxito su cuenta, si desea regresar solo regístrese de nuevo.</p>
     

    </div>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/estilos2.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/animations.js' %}"></script>
{{ block.super }}
{% endblock %}
