{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div id="containerHome">
    <h1 class="letras4" style="text-align:center;">Gestión de servicio</h1>
    <p class="letras4" style="text-align:center;">Usted ya ha tomado la orden de servicio.</p>   
    <a href="{% url 'login' %}">Volver</a>

</div>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/fondo.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
<link rel="stylesheet" href="{% static 'css/detalleOrden.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/animations.js' %}"></script>
{{ block.super }}
{% endblock %}