
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div>
    <h1 class="letras">Detalle de orden</h1>
</div>

    {% if object_list %}
       

    {% for orden_reciclaje in object_list %}
        <p class="letras">ID de orden: {{ orden_reciclaje.id_orden }}</p>
        <p class="letras">Fecha de orden: {{ orden_reciclaje.fecha_orden }}</p> 
        <p class="letras">Tipo material: {{ orden_reciclaje.tipo_material }}</p>    
        <p class="letras">Cantidad material: {{ orden_reciclaje.cantidad_material }}</p>
        

        <br>
    {% endfor %}
    
{% else %}
    <h1 class="letras">No hay registros de ordenes</h1>
{% endif %}
<a href="{% url 'orden_reciclaje' %}">Volver</a>

<footer>
    <div id="navbar" class="video2">
        <div class="video">
        <p class="letras2">Sistema de reciclaje sin fines de lucro</p>
        </div>
        <img  src="{% static 'images/logo_4.png' %}" alt="logo" style="width: 60px; height: 60px;">
    </div>
    
</footer>
  

{% endblock %}