{% extends 'base.html' %} 
{% load static %}

{% block content %}
    <h1 class="letras hidden fade-in-down">Gestion de usuario</h1>
    
    <div id="mensajePass" class="content container hidden fade-in-down">
        <p class="letras">Su clave ha sido actualizada con exito, puede continuar.</p>
        <a class="hidden fade-in-down"href="{% url 'home' %}">Volver</a>
    </div>
    


{% endblock content %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}
{% endblock javascript %}