{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="letras">Reservas conluidas para calificar</h1>
    <p class="letras">Seleccione la orden que desee para calificar al recolector</p>
</div>

{% if ordenes %}
    {% with hay_ordenes_concluidas=False %}
        <ul>
            {% for orden in ordenes %}
                {% if orden.estado == "Concluido" %}
                    {% with hay_ordenes_concluidas=True %}
                        <li>
                            <p class="letras">ID de orden: {{ orden.id_orden }}</p>
                            <p class="letras">Fecha de orden: {{ orden.fecha_orden }}</p>
                            <p class="letras">hora inicio: {{ orden.hora_inicio}}</p>
                            <p class="letras">hora fin: {{ orden.hora_fin}}</p>
                            <p class="letras">Cantidad plastico: {{ orden.cantidad_plastico }}</p>
                            <p class="letras">Cantidad vidrio: {{ orden.cantidad_vidrio }}</p>
                            <p class="letras">Cantidad carton: {{ orden.cantidad_carton }}</p>
                            <p class="letras">Cantidad aluminio: {{ orden.cantidad_aluminio }}</p>
                            <p class="letras">Cantidad metal: {{ orden.cantidad_metal }}</p>
                            <p class="letras">Cantidad electro domesticos: {{ orden.cantidad_electrodomesticos }}</p>
                             <p class="letras">Estado: {{ orden.estado }} </p>


                            <!-- Enviar el ID de la orden al hacer clic en el botón -->
                            <form method="POST" action="{% url 'mostrar_ordenes_calificar_recolector_reserva' %}">
                                {% csrf_token %}
                                <input type="hidden" name="orden_id" value="{{ orden.id_orden }}">
                                <button type="submit">Seleccionar</button>
                            </form>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>
        {% if not hay_ordenes_disponibles %}
        <p class="letras">No hay más órdenes disponibles</p>
    {% endif %}
    {% endwith %}
{% else %}
    <h2 class="letras">No hay más registros de órdenes</h2>
{% endif %}

<a href="{% url 'login' %}">Volver</a>

{% endblock %}
