{% extends 'base.html' %}

{% block content %}
<div>
    <h1 class="letras">Ordenes vigentes</h1>
    <p class="letras">Seleccione la orden que desee para calificar al recolector</p>
</div>

{% if ordenes %}
    {% with hay_ordenes_concluidas=False %}
        <ul>
            {% for orden in ordenes %}
                {% if orden.estado == "Concluido" %}
                    {% with hay_ordenes_concluidas=True %}
                        <li>
                            <p class="letras">ID de orden: {{ orden.id_orden }}</p>
                            <p class="letras">Fecha de orden: {{ orden.fecha_orden }}</p>
                            <p class="letras">Tipo material: {{ orden.tipo_material }}</p>
                            <p class="letras">Cantidad material: {{ orden.cantidad_material }}</p>
                            <p class="letras">Estado: {{ orden.estado }}</p>

                            <!-- Enviar el ID de la orden al hacer clic en el botón -->
                            <form method="POST" action="{% url 'agregar_calificacion_recolector_ciudadano2' orden.id_orden %}">
                                {% csrf_token %}
                                <input type="hidden" name="orden_id" value="{{ orden.id_orden }}">
                                <button type="submit">Seleccionar</button>
                            </form>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endwith %}
{% else %}
    <h1 class="letras">No hay registros de órdenes</h1>
{% endif %}

<a href="{% url 'login' %}">Volver</a>
{% endblock %}
