{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #containerHome {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #bac2aca8;
    }

    .order-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
    }

    .order-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 10px;
        width: 30%; /* Ajusta este valor según sea necesario */
        box-sizing: border-box;
    }

    .order-item form {
        margin-top: 10px;
    }

    .order-item .btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .letras {
        font-size: 16px;
        margin: 5px 0;
    }

    .fade-in-down {
        animation: fadeInDown 1s;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
</head>
<body>
<div id="containerHome" class="hidden fade-in-down">
<h1>Órdenes vigentes</h1>
<p>Escoja una orden a tomar:</p>
{% if ordenes %}
    {% with hay_ordenes_disponibles=False %}
    <ul class="order-list">
        {% for orden in ordenes %}
            {% if orden.estado != "Concluido" and orden.estado != "Calificado" and orden.estado != "Expirado" and orden.estado != "Orden tomada" %}
                {% with hay_ordenes_disponibles=True %}
                <li class="order-item">
                    <p class="letras">ID de orden: {{ orden.id_orden }}</p>
                    <p class="letras">Fecha de orden: {{ orden.fecha_orden }}</p>
                    <p class="letras">Cantidad plastico: {{ orden.cantidad_plastico }}</p>
                    <p class="letras">Cantidad vidrio: {{ orden.cantidad_vidrio }}</p>
                    <p class="letras">Cantidad carton: {{ orden.cantidad_carton }}</p>
                    <p class="letras">Cantidad aluminio: {{ orden.cantidad_aluminio }}</p>
                    <p class="letras">Estado: {{ orden.estado }}</p>
                    <!-- Enviar el ID de la orden al hacer clic en el botón -->
                    <form method="POST" action="{% url 'tomar_orden' orden.id_orden %}">
                        {% csrf_token %}
                        <input type="hidden" name="orden_id" value="{{ orden.id_orden }}">
                        <button type="submit" class="btn btn-primary">Seleccionar</button>
                    </form>
                </li>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    {% if not hay_ordenes_disponibles %}
    <p class="letras">No hay más órdenes disponibles</p>
    {% endif %}
    {% endwith %}
{% else %}
    <h1 class="letras">No hay más registros de órdenes</h1>
{% endif %}

</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const elements = document.querySelectorAll('.hidden');
    elements.forEach(element => {
        element.classList.remove('hidden');
        element.classList.add('fade-in-down');
    });
});
</script>
</body>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/fondo.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
<link rel="stylesheet" href="{% static 'css/detalleOrden.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/animations.js' %}"></script>
{{ block.super }}
{% endblock %}