{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="blue-background hidden fade-in-down" style="box-shadow: -2px 10px 10px rgba(0,0,0,0.8);">
<div class="container">
    <h2 class="titulo_pass">Restablecer contraseña</h2>
    <form method="POST" action="{% url 'validacion_pass' %}">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            Por favor, complete todos los campos obligatorios.
        </div>
        {% endif %}
        <div class="form-group">
            <label>Ingrese su RUT sin digito verificador:</label>
            <input class="form-control" type="text" name="rut" placeholder="Ingrese su RUT">
        </div>
        <div>
            <label>Pregunta Clave:</label>
        </div>
        <div class="form-group">
        <label>¿Cual es el segundo nombre de su madre?</label>
            <input class="form-control" type="text" name="segundo_nombre_madre" placeholder="Ingrese el segundo nombre de su madre">
        </div>
        <div class="form-group">
            <label>Nueva Contraseña:</label>
            <input class="form-control" type="password" name="new_password1" placeholder="Ingrese su nueva contraseña">
        </div>
        <div class="form-group">
            <label>Confirmar Contraseña:</label>
            <input class="form-control" type="password" name="new_password2" placeholder="Confirme su nueva contraseña">
        </div>
        <button type="submit" class="btn btn-primary" style="lenght: 150px; width: 150px; box-shadow: -2px 10px 10px rgba(0,0,0,0.8); border: 1px gradient black;">Validar</button>
    </form>
    <br>

</div>
</div>

{% endblock content %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}
{% endblock %}
