{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de ordenes{% endblock %}

{% block content %}
  <h1 class="letras">Toma una orden de reserva</h1>
  <p class="letras">Debe ingresar su rut para identificarlo en la orden</p>
  {% if reserva_orden %}
    <form method="POST" action="{% url 'tomar_reserva' reserva_orden.id_orden %}">
      {% csrf_token %}
      <div class="letras">
        <p>ID orden: {{ reserva_orden.id_orden }}</p>
      </div>
      <div>
        <label class="letras" for="latitud_posicion_recolector">Latitud:</label>
        <input type="number" name="latitud_posicion_recolector" value="{{ reserva_orden.latitud_posicion_recolector }}" step="0.000001" placeholder="Latitud" required>
      </div>
      <div>
        <label class="letras" for="longitud_posicion_recolector">Longitud:</label>
        <input type="number" name="longitud_posicion_recolector" value="{{ reserva_orden.longitud_posicion_recolector }}" step="0.000001" placeholder="Longitud" required>
      </div>
      <div>
        <label class="letras" for="rut_recolector">RUT Recolector sin digito verificador:</label>
        <input type="text" name="rut_recolector" value="{{ orden_reciclaje.get_rut_recolector }}" placeholder="RUT Recolector" maxlength="10" required>
    </div>
    
      <input type="hidden" name="estado" value="Orden tomada">
      <button type="submit">Actualizar Orden</button>
      <button type="button" onclick="capturarUbicacion()">Capturar Ubicación</button>
    </form>
  {% else %}
    <p class="letras">No hay órdenes disponibles.</p>
  {% endif %}

  <div id="success-message" style="display: none;">El objeto Orden_reciclaje se registró con éxito.</div>

  <script>
    function showSuccessMessage() {
      document.getElementById("success-message").style.display = "block";
    }

    function capturarUbicacion() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var latitud = position.coords.latitude.toFixed(6);
          var longitud = position.coords.longitude.toFixed(6);

          document.querySelector('input[name="latitud_posicion_recolector"]').value = latitud;
          document.querySelector('input[name="longitud_posicion_recolector"]').value = longitud;
        });
      } else {
        alert("Tu navegador no admite la geolocalización.");
      }
    }
  </script>

  <div>
    <a href="{% url 'home' %}">Volver</a>
  </div>
  
{% endblock %}
