{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="titulo_presentacion fade-in-down">
    <div class="blue-background">
        <div>
            <h1 class="letras">Usuarios Recolectores</h1>
            <p class="letras">Seleccione un recolector para anular o ignorar</p>
        </div>

        {% if usuarios %}
            <ul>
                {% with total=0 %}
                {% for usuario in usuarios %}
                    {% if not usuario.validacion_recolector %}
                        {% with total=total|add:1 %}
                        <li>
                            <p class="letras">Nombre: {{ usuario.first_name }}</p>
                            <p class="letras">Apellido: {{ usuario.last_name }}</p> 
                            <p class="letras">Comuna: {{ usuario.comuna }}</p>
                            <p class="letras">Teléfono: {{ usuario.telefono }}</p>
                            <p class="letras">Tipo de usuario: {{ usuario.get_tipo_usuario_display }}</p>
                            <p>Licencia de conducir</p>
                            {% if usuario.licencia_automotriz %}
                                <img src="{{ usuario.licencia_automotriz }}" alt="Licencia de conducir" style="width: 12cm; height: 16cm;">
                            {% endif %}

                            <form method="POST" action="{% url 'actualizar_recolector' id_user=usuario.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="id_user" value="{{ usuario.id }}">
                                <button type="submit">Validar</button>
                            </form>
                            <form method="GET" action="{% url 'rechazar' %}">
                                <button type="submit">Ignorar</button>
                            </form>
                        </li>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                {% if total == 0 %}
                    <p class="letras">No hay más recolectores esperando ingresar</p>
                {% endif %}
                {% endwith %}
            </ul>
        {% else %}
            <p class="letras">No hay usuarios recolectores disponibles</p>
        {% endif %}

        <a href="{% url 'home' %}">Volver</a>
    </div>
</div>
{% endblock %}
