{% extends 'base.html' %} 
{% load static %}

{% block content %}

<br>
<div class="t hidden fade-in-down">
    <h1 class="letras1" style="color: white; text-shadow: 2px 2px 2px #000000;">Conozca mas sobre el mundo del reciclaje</h1>
</div>  
<div class="video hidden fade-in-down">
  <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oHcSqUsjlWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<br>
  <div class="letras2 hidden fade-in-down">
    <p id="t_v" style="color:white; text-shadow:1px 1px 20px #000000;">Es importante crear habitos para preservar nuestro planeta y por eso nuestro sistema contribuye a esta causa, facilita el proceso del reciclaje en el mundo moderno.</p>
</div>

{% endblock content %}
{{block.super}}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}
{% endblock %}
