{% extends 'base.html' %} 

{% block content %}
<div class="t">
    <h1 class="letras" id="t">Conozca mas sobre el mundo del reciclaje</h1>
</div>  
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oHcSqUsjlWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

  <div class="letras">
    <p>Es importante crear habitos para preservar nuestro planeta y por eso nuestro sistema contribuye a esta causa, facilita el proceso del reciclaje en el mundo moderno.</p>

</div>

{% endblock %}
