{% extends 'base.html' %} 
{% load static %}

{% block content %}
<br>
<div class="t">
    <h1 class="letras1">Conozca mas sobre el mundo del reciclaje</h1>
</div>  
<div class="video">
  <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oHcSqUsjlWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<br>
  <div class="letras2">
    <p id="t_v">Es importante crear habitos para preservar nuestro planeta y por eso nuestro sistema contribuye a esta causa, facilita el proceso del reciclaje en el mundo moderno.</p>

</div>


  {{block.super}}


{% endblock %}
