{% extends 'base.html' %}

{% load static %}

{% block title %}Pagina de inicio{% endblock title %}

{% block content %} 


    <h2></h2>
    {% if user.is_authenticated  %}
    <div>
        <img src="{% static 'images/logo_31.png' %}" alt="home" style="width: 250px; height: 250x;">
        
        <h1 class="letras">Bienvenido</h1>
        <p class="letras">Hola - {{user.first_name}} {{user.last_name}}</p>
        <p class="letras">Tu tipo de usuario es - {{user.tipo_usuario}}</p>
        <br><br>
        
        
    </div>
    {% endif %}
    {% if user.tipo_usuario == "Ciudadano" %}
    <div>
        <li class="nav-item"><a class="link" href="{% url 'orden_reciclaje' %}">Ordenar servicio</a></li>
        <li class="nav-item"><a class="link" href="{% url 'orden_reserva' %}">Reservar servicio</a></li>
        <li class="nav-item"><a class="link" href="{% url 'list_user' %}">Ver mi perfil</a></li>
        <li class="nav-item"><a class="link" href="{% url 'editar_user' user.id %}">Actualizar mi perfil</a></li>
        <li class="nav-item"><a class="link" href="{% url 'borrar_user' user.id %}">Eliminar mi cuenta</a></li>
        <li class="nav-item"><a class="link" href="{% url 'OrdenListGeolocalizar'  %}">Seguimiento de orden</a></li>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_ordenes_calificar_recolector'  %}">Calificacion a recolector</a></li>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_ordenes_calificar_recolector_reserva'  %}">Calificacion a recolector por la reserva</a></li>
    </div>
    {% endif %}
    {% if user.tipo_usuario == "Recolector" %}
    <div>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_ordenes' %}">Buscar ordenes de servicio</a></li>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_reserva' %}">Buscar ordenes de reserva</a></li>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_ordenes_eliminar' %}">Concluir un servico</a></li>
        <li class="nav-item"><a class="link" href="{% url 'mostrar_ordenes_eliminar_reserva' %}">Concluir un servico de reserva</a></li>
        <li class="nav-item"><a class="link" href="{% url 'list_user' %}">Ver mi perfil</a></li>
    </div>
    {% endif %}
    {% if user.tipo_usuario == "Operario_municipalidad" %}
    <div>
        <li class="nav-item"><a href="{% url 'list_user' %}">Ver mi perfil</a></li>
    </div>
    {% endif %}
    {% if user.tipo_usuario == "Reciclador" %}
    <div>
        <li class="nav-item"><a href="{% url 'list_user' %}">Ver mi perfil</a></li>
    </div>
    {% endif %}
    <footer>
        <div id="navbar" class="video2">
            <div class="video">
            <p class="letras2">Sistema de reciclaje sin fines de lucro</p>
            </div>
            <img  src="{% static 'images/logo_4.png' %}" alt="logo" style="width: 60px; height: 60px;">
        </div>
        
    </footer>


{% endblock content %}
