{% extends 'base.html' %}

{% load static %}

{% block content %} 

    {% if user.is_authenticated %}
        <div id="animatedDiv" class="hidden fade-in-down">
            <br>
            <h1 class="letras1">Bienvenido</h1>
            <div style="display: flex; align-items: center;">
                <img src="{% static 'images/logo_31.png' %}" alt="home" style="width: 500px; height: 350px;">
                
            </div>
            <div style="display: flex; align-items: center;">
            </div>
            <div class="usuarioTipo">
                <p class="hola">Hola - {{ user.first_name }} {{ user.last_name }}</p>
                <p class="tipousuarioText">Tu tipo de usuario es - {{ user.tipo_usuario }}</p>
            </div>
            <br><br>
        </div>
        <div id="containerHome" class="hidden fade-in-down scroll-container">
            {% if user.tipo_usuario == "Ciudadano" %}
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'orden_reciclaje' %}'">Ordenar servicio</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'orden_reserva' %}'">Reservar servicio</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'list_user' %}'">Ver mi perfil</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'editar_user' user.id %}'">Actualizar mi perfil</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'borrar_user' user.id %}'">Eliminar mi cuenta</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'OrdenListGeolocalizar' user.id %}'">Seguimiento de orden</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'OrdenListGeolocalizar_para_ubicar_recolector' user.id %}'">Seguimiento de reserva</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_ordenes_calificar_recolector' %}'">Calificar recolector</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_ordenes_calificar_recolector_reserva' %}'">Calificar recolector por la reserva</button></ul>
            {% endif %}
    
            {% if user.tipo_usuario == "Recolector" %}
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_ordenes' %}'">Buscar ordenes de servicio</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_reserva' %}'">Buscar ordenes de reserva</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_ordenes_eliminar' %}'">Concluir un servicio</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_ordenes_eliminar_reserva' %}'">Concluir un servicio de reserva</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'list_user' %}'">Ver mi perfil</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'ReservaListGeolocalizar' %}'">Buscar ubicacion ordenes de reserva</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'OrdenListGeolocalizar_para_ubicar_ciudadano' %}'">Buscar ubicacion ordenes</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'Ver_promesas_pago' %}'">Ver las promesas de pago</button></ul>
            <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'Ver_promesas_pago_reserva' %}'">Ver las promesas de pago por reserva</button></ul>
            {% endif %}
    
            {% if user.tipo_usuario == "Operario municipalidad" %}
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'list_user' %}'">Ver mi perfil</button></ul>
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_resepciones_desechos' %}'">Ver los registros de desechos</button></ul>
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_resepciones_desechos_reserva' %}'">Ver los registros de desechos por reserva</button></ul>
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'mostrar_recolectores' %}'">Ver los recolectores para aprobar o rechazar</button></ul>
            {% endif %}
    
            {% if user.tipo_usuario == "Reciclador" %}
            <div class="blue-background">
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'list_user' %}'">Ver mi perfil</button></ul>
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'Ver_ordenes_para_resepcionar' %}'">Registrar recepcion de desechos</button></ul>
                <ul class="nav-item"><button id="btnHome" class="link" onclick="location.href='{% url 'Ver_ordenes_para_resepcionar_reserva' %}'">Registrar recepcion de desechos de las reservas</button></ul>
            </div>
            {% endif %}
        </div>
    
        <br>
        {% else %}
        <div id="notAuthenticatedDiv" class="hidden fade-in-down">
            <div id="containerHome">
            <h1 style="text-align:center;">¡Bienvenido!</h1>
            <p style="text-align:center;">Para acceder a esta página, por favor <a href="{% url 'login' %}">inicia sesión</a>.</p>
            </div>
        </div>
    {% endif %}
    
    {{ block.super }}

{% endblock content %}
{% block footer %}

{% endblock footer %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    {{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'js/animations.js' %}"></script>
    {{ block.super }}
{% endblock %}
